{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    

    
    
    <div class="container mt-3">
    


    <div class="container">


        <h4 class="display-4 pb-3">Sign Up</h4>
        <div class="container col-md-6">
            <img class="mb-3 mx-auto d-block" src="{% static 'aff_image_default.png' %}" height=100 alt="project image">
            {% if error %}
        <div class="alert alert-primary alert-dismissible fade show" role="alert">
            <strong> Sorry! </strong>{{ error }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
        {% endif %}

            <form action="{% url 'signup' %}" method="POST">
                {% csrf_token %}
                
                <div class="form-group">
                    <label for="username">Username</label>
                    <input placeholder="Username" class="form-control" type="text" name="username" required>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input placeholder="Email" class="form-control" type="email" name="email" required>
                </div>
                <div class="form-group">
                    <label for="password1">Password</label>
                    <input placeholder="Password" class="form-control" type="password" name="password1" required>
                </div>
                <div class="form-group">
                    <label for="password2">Re-enter Password</label>
                    <input placeholder="Password" class="form-control" type="password" name="password2" required>
                </div>
                <button class="btn btn-primary" type="submit">Sign Up</button>
                <a class="ml-3 btn btn-danger" href="{% url 'landing' %}">Cancel</a>
            </form>
        </div>
    </div>
{% endblock %}