{% extends 'base.html' %}
{% load staticfiles %}

    {% block content %}
      
      <main role="main">
        <div>
          <img class="img-fluid" src="{% static 'about_banner.jpg' %}">
        </div>
        {# ############ JUMPOTRON ############ #}
        

        <div class="jumbotron jumbotron-fluid text-muted">
          <div class="container text-sm-center">
            <h3 class="display-3">ABOUT BDAs</h3>
            <p class="lead pb-2">Coming soon......</p>
          </div>
        </div>
      
      {# ############################# #}
      {# ########### CONTENT ######### #}
      {# ############################# #}
        
      </main>
    {% endblock %}
      