{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    <div class="container mt-3">
    <div class="container">
        <div class="mt-5 mb-5 p-5 container col-md-6 rounded shadow">
            <img class="mb-3 mx-auto img-fluid rounded shadow" src="{{ project.ProjectImage.url }}" alt="project image">
            <p class="text-muted text-center lead">Change project image:</p>
            <h4 class="text-center pb-3">{{ project.ProjectName }}</h4>

            <form action="{% url 'change_project_image' project.id %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <label for="ProjectImage">Choose new image:</label>
                    <input type="file" class="form-control-file" id="ProjectImage" name="ProjectImage" required>
                </div>


                <button class="btn btn-primary" type="submit">Save Image</button>
                <a class="ml-3 btn btn-secondary" href="{% url 'detail' project.id %}">Cancel</a>
            </form>
        </div>
    </div>
{% endblock %}