{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    <div class="container">
        <h4 class="display-4">Edit Project</h4>
        
        {# ################## START FORM ################### #}
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {# PROJECT NAME #}
            <h5>Project Basics</h5>
            <hr>
            {# ROW #}
            <div class="row">
                <div class="col-md">
                    <div class="form-group">
                        <label for="ProjectName">Project Name</label>
                        <input placeholder="e.g., Bridge Creek Intensively Monitored Watershed" class="form-control" type="text" name="ProjectName" value="{{ project.ProjectName }}"required>
                    </div>
                </div>
                <div class="col-md">
                    <div class="form-group">
                        <label for="ProjectAffiliation">Project Affiliation</label>
                        <input placeholder="e.g., NOAA" class="form-control" type="text" name="ProjectAffiliation" value="{{ project.ProjectAffiliation }}" required>
                    </div>
                </div>
            </div>

            <h5>Project Contact</h5>
            <hr>
            <div class="row">
                <div class="col-md">
                    <div class="form-group">
                        <label for="PrimaryContactName">Contact Name</label>
                        <input placeholder="First Last" class="form-control" type="text" name="PrimaryContactName" value="{{ project.PrimaryContactName }}"required>
                    </div>
                </div>
                <div class="col-md">
                    <div class="form-group">
                        <label for="PrimaryContactEmail">Contact Email</label>
                        <input placeholder="e.g., email@email.com" class="form-control" type="email" name="PrimaryContactEmail" value="{{ project.PrimaryContactEmail }}"required>
                    </div>
                </div>
            </div>

            <h5>Project Location</h5>
            <hr>
            {# ROW #}
            <div class="row">
                <div class="col-md">
                    <div class="form-group">
                        <label for="StreamName">Stream Name</label>
                        <input placeholder="e.g., Bridge Creek" class="form-control" type="text" name="StreamName" value="{{ project.StreamName }}" required>
                    </div>
                </div>
                <div class="col-md">
                    <div class="form-group">
                        <label for="BasinName">Basin Name</label>
                        <input placeholder="e.g., John Day" class="form-control" type="text" name="BasinName" value="{{ project.BasinName }}" required>
                    </div>
                </div>
            </div>
        
            {# ROW #}
            <div class="row">
                <div class="col-md">
                    <div class="form-group">
                        <label for="ProjectLatitude">Latitude</label>
                        <input placeholder="e.g., 44.123456" class="form-control" type="number" step="0.000001" name="ProjectLatitude" value="{{ project.ProjectLatitude }}" required>
                    </div>
                </div>
                <div class="col-md">
                    <div class="form-group">
                        <label for="ProjectLongitude">Longitude</label>
                        <input placeholder="e.g., -120.123456" class="form-control" type="number" step="0.000001" name="ProjectLongitude" value="{{ project.ProjectLongitude }}" required>
                    </div>
                </div>
            </div>
            
            
            <h5>Project Implementation</h5>
            <hr>
            {# ROW #}
            <div class="row">
                <div class="col-md">
                    <div class="form-group">
                        <label for="InstallYear">Year Installed</label>
                        <input placeholder="e.g. 2018" class="form-control" type="number" step="1" name="InstallYear" value="{{ project.InstallYear }}" required>
                    </div>
                </div>
                <div class="col-md">
                    <div class="form-group">
                        <label for="TreatmentLength">Treatment Length (meters)</label>
                        <input placeholder="e.g., 500" class="form-control" type="number" step="1" name="TreatmentLength" value="{{ project.TreatmentLength }}" required>
                    </div>
                </div>
                <div class="col-md">
                    <div class="form-group">
                        <label for="TotalStructures">Total Structures</label>
                        <input placeholder="Number installed" class="form-control" type="number" step="1" name="TotalStructures" value="{{ project.TotalStructures }}" required>
                    </div>
                </div>
            </div>
            {# PROJECT DESCRIPTION #}
            <div class="form-group">
                <label for="ProjectDescription">Project Description</label>
                <textarea rows="5" placeholder="Short summary of the project - goals, structure construction, lessons learned, etc......" class="form-control" type="text" name="ProjectDescription"> {{ project.ProjectDescription }}</textarea>
            </div>
            <button class="btn btn-primary" type="submit">Save Edits</button>
            <a class="ml-3 btn btn-warning" href="{% url 'detail' project.id %}">Cancel</a>
            <a class="ml-3 btn btn-danger float-right" href="{% url 'delete_project' project.id %}">Delete</a>
            </div>
        </form>
    </div>
{% endblock %}