{% extends 'base.html' %}
{% load staticfiles %}

    {% block content %}
      
      <main role="main">
        <div>
          <img class="img-fluid" src="{% static 'parrish_banner.jpg' %}">
        </div>
        {# ############ JUMPOTRON ############ #}
        <div class="jumbotron jumbotron-fluid text-muted">
          <div class="container text-sm-center">
            <h1 class="display-3">OR BDA EXPLORER</h1>
            <p class="lead pb-2">A Source of Information on Beaver Dam Analog Restoration Projects</p>
          </div>
        </div>
      {# ############################# #}
      {# ########### CARDS ########### #}
      {# ############################# #}
        <div class="container py-3">
          <div class="row">
            <div class="card-deck">
              {# ############ ABOUT ############ #}
              <div class="col-md-4">
                <div class="card mb-4 shadow">
                  <img class="card-img-top" src="{% static 'about_landing.jpg' %}" alt="Card image cap">
                  <div class="card-body">
                    <h4 class="text-muted">About BDAs</h4>
                    <p class="card-text text-muted">Learn more about beaver dam analogs</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <button type="button" class="btn btn-outline-secondary btn-sm">About</button>
                    </div>
                  </div>
                </div>
              </div>
              {# ############ PROJECTS ############ #}
              <div class="col-md-4">
                <div class="card mb-4 shadow">
                  <img class="card-img-top" src="{% static 'projects_landing.jpg' %}" alt="Card image cap">
                  <div class="card-body">
                    <h4 class="text-muted">Projects</h4>
                    <p class="card-text text-muted">Explore existing BDA projects</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <button type="button" class="btn btn-outline-secondary btn-sm">Projects</button>
                    </div>
                  </div>
                </div>
              </div>
              {# ############ SIGN UP ############ #}
              <div class="col-md-4">
                <div class="card mb-4 shadow">
                  <img class="card-img-top" src="{% static 'signup_landing.jpg' %}" alt="Card image cap">
                  <div class="card-body">
                    <h4 class="text-muted">Sign Up</h4>
                    <p class="card-text text-muted">Sign up to add your own projects</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <button type="button" class="btn btn-outline-secondary btn-sm">Sign Up</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
    {% endblock %}
      