{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    
    {# ##### PAGE HEADER ##### #}
    
    <div class="container">
        <div class="text-center mt-5"> 
            <div class="btn-group pb-3" role="group" aria-label="group">
                <button type="button" class="btn btn-outline-secondary">
                <a class="text-muted" href="{% url 'map_view' %}">Map View</a>
                </button>
                <button type="button" class="btn btn-secondary">List View</button>
            </div>
        </div>
        
        {% for project in projects %}
            <hr>
            {% if request.user == project.CreatedBy %}
            <a href="{% url 'edit_project' project.id %}">
                <p class="float-right badge badge-pill badge-primary">Edit Project</p>
            </a>
            {% endif %}

            <div class="media">
                {% if project.AffiliationImage %}
                    <img class="align-self-center mr-3" src="{{ project.AffiliationImage.url }}" width=60 alt="project affiliation image">
                {% else %}
                    <img class="align-self-center mr-3" src="{% static 'aff_image_default.png' %}" width=60 alt="project affiliation image">
                {% endif %}
                <div class="media-body">
                    <div class="row">
                            <div class="col-md-8">
                            <h4><a class="text-dark" href="{% url 'detail' project.id %}"> {{ project.ProjectName }}</h4>
                        <p class="text-muted">{{ project.ProjectAffiliation }}</p>
                        </div>
                    <div class="col-md-4">
                        <h5>{{ project.StreamName }}</h5>
                        <p class="text-muted">{{ project.BasinName }}</a></p>
                    </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% if user.is_authenticated %}
            <hr>
            <a class="btn btn-primary" href="{% url 'new_project' %}">New Project</a>
            {% endif %}
        </div>
{% endblock %}