{% extends 'base.html' %}
{% load staticfiles %}
{% load leaflet_tags %}
{% block content %}
    
    {% leaflet_js %}
    {% leaflet_css %}
    
    <div class="container">
        <h4 class="display-4">BDA PROJECTS</h4>
        <div class="text-center">
        
        <div class="btn-group pb-3" role="group" aria-label="group">
            <button type="button" class="btn btn-secondary">Map View</button>
            <button type="button" class="btn btn-outline-secondary">
                <a class="text-muted" href="{% url 'list_view' %}">List View</a>
            </button>
        </div>
        </div>
    </div>


    {# ####################################################### #}
    {# #########               LEAFLET MAP         ########### #}
    {# ####################################################### #}


    {# ##### MAP STYLE ##### #}
    <style type="text/css">
    #map_style {height: 500px;}
    </style>
    <script type="text/javascript" src="{% static 'dist/leaflet.ajax.js' %}"></script>
    
    {# ##### JAVASCRIPT FOR MAP ##### #}
    <script type="text/javascript">
    function map_init_basic (map, options) {
        var geojsonPointLayer = new L.GeoJSON.AJAX("{% url 'project_points' %}", {
            
            onEachFeature: function(feature, layer) {
                var the_pk = feature.properties.pk.toString()
                var the_url_tag = "{% url 'detail' 9999 %}".replace('9999', the_pk)

                layer.bindPopup('<h5>'+feature.properties.ProjectName.toString()+'</h5>'+
                                '<h6 class="text-muted">'+feature.properties.ProjectAffiliation.toString()+'</h4>'+
                                '<a href="'+the_url_tag+'"><p class="btn btn-sm btn-primary">View Project</p></a>');
            }
        });

    geojsonPointLayer.addTo(map);
    }
    </script>
    
    {# ##### TAGS FOR MAP CONTAINER ##### #}
        {% leaflet_map "map_style" callback="window.map_init_basic" %}

<div class="container mt-3">
{% if user.is_authenticated %}
            <hr>
            <a class="btn btn-primary" href="{% url 'new_project' %}">New Project</a>
            {% endif %}
    </div>
{% endblock %}