{% extends 'base.html' %}
{% load staticfiles %}
{% load leaflet_tags %}
{% block content %}
    
    {% leaflet_js %}
    {% leaflet_css %}
    
    <div class="container text-center">
        <h3 class="display-3">BDA PROJECTS</h3>
        <p class="lead">Existing BDA projects found throughout the PNW. You can select projects to see more detail and project attributes</p>
        
        <div class="btn-group pb-3" role="group" aria-label="group">
            <button type="button" class="btn btn-secondary">Map View</button>
            <button type="button" class="btn btn-outline-secondary">
                <a class="text-muted" href="{% url 'list_view' %}">List View</a>
            </button>
        </div>
    </div>


    {# ####################################################### #}
    {# #########               LEAFLET MAP         ########### #}
    {# ####################################################### #}


    {# ##### MAP STYLE ##### #}
    <style type="text/css">
    #map_style {height: 500px;}
    </style>
    <script type="text/javascript" src="{% static 'dist/leaflet.ajax.js' %}"></script>
    
    {# ##### JAVASCRIPT FOR MAP ##### #}
    <script type="text/javascript">
    function map_init_basic (map, options) {
        var geojsonPointLayer = new L.GeoJSON.AJAX("{% url 'project_points' %}", {
            
            onEachFeature: function(feature, layer) {
                var the_pk = feature.properties.pk.toString()
                var the_url_tag = "{% url 'detail' 9999 %}".replace('9999', the_pk)

                layer.bindPopup('<h2 class="text-muted">'+feature.properties.ProjectName.toString()+'</h2>'+
                                '<h4>'+feature.properties.ProjectAffiliation.toString()+'</h4>'+
                                '<a href="'+the_url_tag+'" class="btn btn-sm btn-outline-primary" role="button">View Project</a>');
            }
        });

    geojsonPointLayer.addTo(map);
    }
    </script>
    
    {# ##### TAGS FOR MAP CONTAINER ##### #}
        {% leaflet_map "map_style" callback="window.map_init_basic" %}
{% endblock %}